openapi: 3.2.0
info:
  title: Bioflyte Alert API
  version: '1.0'
  description: 'Operations tagged Alert across 2 of this provider''s published API definitions: bioflyte-alert-api-openapi.yml, bioflyte-portal-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://portal.bioflyte.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Alert
paths:
  /LoadRecipients:
    post:
      tags:
      - Alert
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjId'
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertSetting:
    post:
      tags:
      - Alert
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjId'
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertSettingDetails:
    post:
      tags:
      - Alert
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjId'
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertTypeInfo:
    post:
      tags:
      - Alert
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjId'
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
components:
  schemas:
    ObjId:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
x-refined-from:
- bioflyte-alert-api-openapi.yml
- bioflyte-portal-openapi-original.json
