openapi: 3.2.0
info:
  title: Bioflyte Test API
  version: '1.0'
  description: 'Operations tagged Test across 2 of this provider''s published API definitions: bioflyte-portal-openapi-original.json, bioflyte-test-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://portal.bioflyte.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Test
paths:
  /TestOnSampleReceived:
    post:
      tags:
      - Test
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/NewSampleReceived'
          application/json:
            schema:
              $ref: '#/components/schemas/NewSampleReceived'
          text/json:
            schema:
              $ref: '#/components/schemas/NewSampleReceived'
          application/*+json:
            schema:
              $ref: '#/components/schemas/NewSampleReceived'
      responses:
        '200':
          description: OK
  /TestOnAlertsUpdated:
    post:
      tags:
      - Test
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AlertsUpdated'
          application/json:
            schema:
              $ref: '#/components/schemas/AlertsUpdated'
          text/json:
            schema:
              $ref: '#/components/schemas/AlertsUpdated'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AlertsUpdated'
      responses:
        '200':
          description: OK
  /Test/TestOnSampleStatusUpdated:
    get:
      tags:
      - Test
      parameters:
      - name: deviceId
        in: query
        schema:
          type: string
          format: uuid
      - name: isStartEnabled
        in: query
        schema:
          type: boolean
      - name: IsDeviceBuzy
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: OK
components:
  schemas:
    NewSampleReceived:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
        sampleId:
          type: string
          format: uuid
      additionalProperties: false
    AlertsUpdated:
      type: object
      properties:
        deviceId:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        alertId:
          type:
          - array
          - 'null'
          items:
            type: string
            format: uuid
      additionalProperties: false
x-refined-from:
- bioflyte-portal-openapi-original.json
- bioflyte-test-api-openapi.yml
