openapi: 3.2.0
info:
  title: Bioflyte Files API
  version: '1.0'
  description: 'Operations tagged Files across 2 of this provider''s published API definitions: bioflyte-files-api-openapi.yml, bioflyte-portal-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://portal.bioflyte.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Files
paths:
  /UploadFile:
    post:
      tags:
      - Files
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                style: form
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /DownloadFile:
    get:
      tags:
      - Files
      parameters:
      - name: id
        in: query
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /DeleteFile:
    post:
      tags:
      - Files
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          text/json:
            schema:
              $ref: '#/components/schemas/ObjId'
          application/*+json:
            schema:
              $ref: '#/components/schemas/ObjId'
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
components:
  schemas:
    ObjId:
      type: object
      properties:
        id:
          type: string
          format: uuid
      additionalProperties: false
x-refined-from:
- bioflyte-files-api-openapi.yml
- bioflyte-portal-openapi-original.json
