openapi: 3.2.0
info:
  title: Bioflyte Filters API
  version: '1.0'
  description: 'Operations tagged Filters across 2 of this provider''s published API definitions: bioflyte-filters-api-openapi.yml, bioflyte-portal-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://portal.bioflyte.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Filters
paths:
  /LoadIsActiveSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadRolesSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDeviceAzureSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDeviceAzureNotBindedSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadProductTypeSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadOrganizationTypeSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadOrganizationStatusSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadOrganizationSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: IsAllOrgs
        in: query
        schema:
          type: boolean
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDeviceStatusList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadColorCodingStatusList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDevicesSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: SelectedOrganizationIds
        in: query
        schema:
          type: string
      - name: SelectedDeviceIds
        in: query
        schema:
          type: string
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDevicesSelectListArchiveDependent:
    post:
      tags:
      - Filters
      parameters:
      - name: SelectedOrganizationIds
        in: query
        schema:
          type: string
      - name: SelectedDeviceIds
        in: query
        schema:
          type: string
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDevicesSelectListNotInLocation:
    post:
      tags:
      - Filters
      parameters:
      - name: SelectedOrganizationIds
        in: query
        schema:
          type: string
      - name: SelectedDeviceIds
        in: query
        schema:
          type: string
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadDevicesSelectListNotInOrganization:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertTypeSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertSettingsSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertTypeFilteredSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadAlertStatusSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadUsersSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: SelectedOrganizationIds
        in: query
        schema:
          type: string
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadTelemetryTypesSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadSettingLayerTypesSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /LoadConfigChangeTypeSelectList:
    post:
      tags:
      - Filters
      parameters:
      - name: Search
        in: query
        schema:
          type: string
      - name: Values
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
x-refined-from:
- bioflyte-filters-api-openapi.yml
- bioflyte-portal-openapi-original.json
