openapi: 3.2.0
info:
  title: Bioflyte Locations API
  version: '1.0'
  description: 'Operations tagged Locations across 2 of this provider''s published API definitions: bioflyte-locations-api-openapi.yml, bioflyte-portal-openapi-original.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://portal.bioflyte.com
  description: Base URL declared by the provider in apis.yml (roadmap#122).
tags:
- name: Locations
paths:
  /LoadLocationMapData:
    post:
      tags:
      - Locations
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/LoadLocationMapForDeviceRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/LoadLocationMapForDeviceRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/LoadLocationMapForDeviceRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/LoadLocationMapForDeviceRequest'
      responses:
        '200':
          description: OK
    servers:
    - url: https://portal.bioflyte.com
      description: Base URL declared by the provider in apis.yml (roadmap#122).
components:
  schemas:
    LoadLocationMapForDeviceRequest:
      type: object
      properties:
        dbFileId:
          type: string
          format: uuid
        locationId:
          type: string
          format: uuid
        deviceId:
          type: string
          format: uuid
      additionalProperties: false
x-refined-from:
- bioflyte-locations-api-openapi.yml
- bioflyte-portal-openapi-original.json
